matplotlib==3.8.0
matplotlib-inline==0.1.7
matplotlib-venn==1.1.1
mpmath==1.3.0
numpy==1.26.4
sphinxcontrib-jsmath==1.0.1
torch @ https://download.pytorch.org/whl/cu121_full/torch-2.5.0%2Bcu121-cp310-cp310-linux_x86_64.whl
torchaudio @ https://download.pytorch.org/whl/cu121_full/torchaudio-2.5.0%2Bcu121-cp310-cp310-linux_x86_64.whl
torchsummary==1.5.1
torchvision @ https://download.pytorch.org/whl/cu121_full/torchvision-0.20.0%2Bcu121-cp310-cp310-linux_x86_64.whl
tqdm==4.66.6
